<div class="row" id="row-margin">	
	<div class="col-sm-12" id="event-border">
		<h5>START: {{eventInfo.eventStartDate | date:'MM/dd/yyyy @ h:mma'}}</h5>
		<h5>END: {{eventInfo.eventEndDate | date:'MM/dd/yyyy @ h:mma'}}</h5>
		<h5>HOST: {{eventInfo.eventHost}}</h5>
		<h5>EVENT: {{eventInfo.eventName}}</h5>
		<h5>TYPE: {{eventInfo.eventType}}</h5>
		<h5>WHERE: {{eventInfo.eventLocation}}</h5>
	</div>
	<ul class="nav nav-tabs" role="tablist">
		<li><p id="tab-padding-date"><a href="#/datetime" id="link-decoration">When</a></p></li>
		<li><p id="tab-padding-guests"><a href="#/guestlist" id="link-decoration">Who</a></p></li>
		<li class="active" role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab">What</a></li>
	</ul>
	<div class="tab-content" id="tab-content-padding">
		<div role="tabpanel" class="tab-pane active" id="home">
			<form class="form-horizontal" ng-submit="submitForm()">
				<div class="form-group">
					<label for="inputEventName" class="col-sm-2 control-label">Event Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputEventName" placeholder="Name of event" focus="true" ng-model="eventInfo.eventName" required>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEventType" class="col-sm-2 control-label">Event Type</label>
					<div class="col-sm-10">
						<input  class="form-control" type="text" list="eventType" placeholder="Type of event" id="inputEventType" ng-model="eventInfo.eventType" required>
					</div>
					<datalist id="eventType">
						<option value="Party"></option>
						<option value="Meeting"></option>
						<option value="Hangout"></option>
						<option value="Game"></option>
					</datalist>	
				</div>
				<div class="form-group">
					<label for="inputEventLocation" class="col-sm-2 control-label">Event Location</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputEventLocation" placeholder="Location" ng-model="eventInfo.eventLocation" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="bs-example">
							<div class="btn-group"> 
								<button class="btn btn-primary"><a id="previous" href="#/guestlist" >Previous</a></button>  
							</div>
							<div class="btn-group"> 
								<button type="submit" class="btn btn-primary">Submit</button>
							</div> 
						</div>
					</div>
				</div>					
			</form>
		<div>
	</div>				
</div>
